# General
node_modules/
.DS_Store
Thumbs.db
*.zip
*.tar.gz

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Environment variables
.env
.env*.local

# Native (Expo Prebuild)
/android
/ios
/landing
# Native credentials
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.pem

# Metro
.metro-health-check*

# Debug
npm-debug.*
yarn-debug.*
yarn-error.*

# TypeScript
*.tsbuildinfo

# IDEs
.idea/
.vscode/
*.swp
*.swo

# Project specific
app-example/
